langchain==0.0.284
lanhchain_core
langsmith
langchain_community
langchain-google-genai
InstructorEmbedding
transformers
python-dotenv==1.0.0
streamlit==1.22.0
tiktoken
faiss-cpu==1.7.4
protobuf==3.19.0
sentence-transformers==2.2.2