langchain==0.0.284
lanhchain_core==2.2.1
langsmith==2.2.1
langchain_community==0.1.0
langchain-google-genai==0.1.0
InstructorEmbedding==1.0.0
transformers==1.13.0
python-dotenv==1.0.0
streamlit==1.22.0
tiktoken==0.6.0
faiss-cpu==1.7.4
protobuf==3.19.0
sentence-transformers==2.2.2